.txt {
    width: 800px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid silver;
    box-shadow: 2px 2px 1px grey;
    position: relative;
}

.fa-trash-o {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.fa-trash-o:hover {
    cursor: pointer;
    color: darkred;
}

form {
    width: 800px;
    margin: 20px auto;
    overflow: hidden;
    padding-bottom: 10px;
}

#task {
    width: 650px;
    height: 20px;
    padding: 5px 10px;
    margin-right: 20px;
}

#add {
    background: white;
    float: right;
    width: 60px;
    height: 34px;
    margin-right: 30px;
    box-shadow: 1px 1px 1px grey;
}

.fa-arrow-circle-down {
    font-size: 20px;
}
#add:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.9);
}
#add:hover .fa-arrow-circle-down {
    color: white;
}