.txt {
    width: 800px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid silver;
    box-shadow: 2px 2px 1px grey;
    position: relative;
}

.fa-trash-o {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

.fa-trash-o:hover {
    cursor: pointer;
    color: darkred;
}

button {
    background: white;
    float: right;
    width: 60px;
    height: 34px;
    margin-right: 30px;
    box-shadow: 1px 1px 1px grey;
    font-weight: bold;
}

.fa-arrow-circle-down {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.9);
    color: #ffffff;
}
.removeTask {
    cursor: pointer;
    font-weight: 900;
    float: right;
}
.removeTask:hover {
    color: red;
}
.film {
    width: 90%;
    padding: 5px;
}