.choose-container {
    width: 800px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-around;
}

.box {
    text-decoration: none;
    width: 200px;
    padding: 20px;
    box-shadow: 1px 1px 10px grey;
    text-align: center;
    cursor: pointer;
}

.box:hover {
    background: yellow;
    font-weight: bold;
}